hr {background-color:#f7dad9; width:10%; border-style:dotted none none; border-width:10px;border-color:#ffa62b;}
body {background-color:#f7dad9;}
h1 {color:#51adcf;}
h2 {color:#0d7377;}
p{font-size:110%;}
table {font-size:110%;}
form{font-size:110%; }
